
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>商品列表</title>
	<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
	<link rel="stylesheet" type="text/css" href="/static/css/main.css">
</head>
<body>
	<div class="header_con">
		<div class="header">
			<div class="welcome fl">欢迎!</div>
			<div class="fr">
				<div class="login_info fl">
					欢迎您：<em></em>
				</div>
				<div class="login_btn fl">
					<a href="login.html">登录</a>
					<span>|</span>
					<a href="register.html">注册</a>
				</div>
				<div class="user_link fl">
					<span>|</span>
					<a href="user_center_info.html">用户中心</a>
					<span>|</span>
					<a href="cart.html">我的购物车</a>
					<span>|</span>
					<a href="user_center_order.html">我的订单</a>
				</div>
			</div>
		</div>
	</div>

	<div class="search_bar clearfix">
		<a href="index.html" class="logo fl"><img src="images/logo.png"></a>
		<div class="search_con fl">
			<input type="text" class="input_text fl" name="" placeholder="搜索商品">
			<input type="button" class="input_btn fr" name="" value="搜索">
		</div>
		<div class="guest_cart fr">
			<a href="#" class="cart_name fl">我的购物车</a>
			<div class="goods_count fl">1</div>
		</div>
	</div>

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>
				<span></span>
				<ul class="subnav">
					<li><a href="#" class="fruit">新鲜水果</a></li>
					<li><a href="#" class="seafood">海鲜水产</a></li>
					<li><a href="#" class="meet">猪牛羊肉</a></li>
					<li><a href="#" class="egg">禽类蛋品</a></li>
					<li><a href="#" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="#" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href=""></a></li>
				<li class="interval">|</li>
				<li><a href=""></a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="#">全部分类</a>
		<span>></span>
		<a href="#">新鲜水果</a>
	</div>

	<div class="r_wrap fr clearfix">

		<ul class="goods_type_list clearfix">
			{% for result in page.object_list %}
			<li>
				<a href="/{{ result.object.id }}/"><img src="/static/{{ result.object.gpic }}"></a>
				<h4><a href="/{{ result.object.id }}/">{{ result.object.gtitle }}</a></h4>
				<div class="operate">
					<span class="prize">￥{{ result.object.gprice }}</span>
					<span class="unit">{{ result.object.gprice}}/{{ result.object.gunit }}</span>
					<a href="/cart/add{{ result.object.id }}_1/" class="add_goods" title="加入购物车"></a>
				</div>
			</li>
			{% empty %}
			<p>没有搜索到任何产品！</p>
			{% endfor %}
		</ul>

		<div class="pagenation">
			{% if page.has_previous %}
			<a href="/list{{ typeinfo.id }}_{{ page.previous_page_number }}_{{ sort }}/"><上一页</a>
			{% endif %}

			{% for pindex in paginator.page_range %}
			{% if pindex == page.number %}
			<a href="#" class="active">{{ pindex }}</a>
			{% else %}
			<a href="/list{{ typeinfo.id }}_{{ pindex }}_{{ sort }}/">{{ pindex }}</a>
			{% endif %}
			{% endfor %}

			{% if page.has_next %}
			<a href="/list{{ typeinfo.id }}_{{ page.next_page_number }}_{{ sort }}/">下一页></a>
			{% endif %}
		</div>
	</div>


	<div class="footer">
		<div class="foot_link">
			<a href="#">栏目</a>
			<span>|</span>
			<a href="#">栏目</a>
			<span>|</span>
			<a href="#">栏目</a>
			<span>|</span>
			<a href="#">栏目</a>
		</div>
		<p>CopyRight © 2018 信息技术有限公司 All Rights Reserved</p>
		<p>电话：***-****888    京ICP备*******8号</p>
	</div>

</body>
</html>